<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="bg-dark" style="height:100%; overflow-x:hidden;"><head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Rajat Srivastava</title>
</head>
<body class="justify-content-center align-items-center bg-dark" style="height:100%;">

<!-- Navigation bar: start-->
<header class="sticky-top border-bottom mb-2">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">
            <img th:src="@{/resources/images/logo/rj-logo-dafoe-dark.png}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-sm-12 col-lg-4 align-items-center justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/index">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Navigation bar: End-->
<div style="height:20%"></div>
<main style="
  font-family:American Typewriter" class="justify-content-center align-items-center bg-dark text-light" >
    <div class="row mt-2">
        <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-lg-2 offset-lg-3 col-xl-2 offset-xl-2 mb-2">
            <img th:src="@{/resources/images/profile/Srivastava_Rajat-head.png}" height="300" width="300"
                 alt="..." class="rounded-circle">
        </div>
        <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-lg-4 offset-lg-2 col-xl-4 offset-xl-1" >
            <h1 class="display-4">Hi, I'm Rajat!</h1>
            <p class="lead">I am a graduate student at Lindner College of Business, University of Cincinnati, class of August 2020.
                Before this I was working as a software engineer for over 5 years.
                I love to build machine learning models as a part of software solutions. <br>
            <br>
            I am an avid learner and when I am not building machine learning backed software applications, I am
            learning about something new.</br>
            I am always interested to connect with fellow Machine Learning enthusiasts. Hit me up at:
            <a class="text-light" href="mailto:srivasrt@mail.uc.edu">srivasrt@mail.uc.edu</a>
            </p>


        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>